html {
    color: black;
    background: rgb(100, 50, 25);
    margin: 0;
    padding: 0;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    padding: 1em 5em;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
}

.warning {
    background-color: rgb(255, 200, 200);
    border-color: red;
    border-width: 6px;
    border-style: solid;
    padding: 0em 1em;
    margin: 1em;
}

.menu {
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: center;
    background:	rgb(220,220,220);
    text: width;
    margin: 0;
}

ol {
    list-style-type: none;
    padding: 0 0 0 1em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "helvetica", sans-serif;
}

p.code {
}

pre.code {
    font-family: monospace;
    padding: 0.3em;
    background:	lightblue;
}

pre.console-output {
    font-family: monospace;
    padding: 0.3em;
    background:	lightgrey;
}

tt.code {
    color: green;
}

tt.menu {
    color: blue;
}

tt.key {
    color: blue;
}

tt.file {
    color: red;
}

small.grey {
    color:          rgb(150,150,150);
}

/* EOF */
